/* grid helpers */

.grid {
    display: grid;
}

.grid.flow-column {
    grid-auto-flow: column;
}

.grid.align-center {
    align-items: center;
}

.grid.justify-start {
    justify-content: start;
}

.grid.space-between {
    justify-content: space-between;
}

.grid.space-evenly {
    justify-content: space-evenly;
}